.login_layer {
    display: table;
    width: 100%;
    height: 95vh;
  }
  
  .login_layer_inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  
  .login_content, .greeting {
      display: none;
  }
  body {
    background-color: black;
    color: white;
  }