{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <title>Blog</title>
    </head>
    <body>
        <div class="login_layer">
            <div class="login_layer_inner">
                <div class="js-greeting greeting">
                    <p>Hello, Visitor</p>
                </div>
                <div class="js-login_content login_content">
                    <a href="{% url 'home' %}">Just for visit</a>
                </div>
            </div>
        </div>
        <script src="{% static 'js/my_query.js' %}"></script>
    </body>
</html>