{% extends "blog_app/base.html" %}

{% block title %}
    Blog-Memo
{% endblock %}
    
{% block content %}
    {% for list in memolist %}
        <div class="row">
            <div class="contents" id="memo_contents">
                <div class="card">
                    <h2>{{list.title}}</h2>
                    <h5>{{list.pub_date | date:'Y-m-d'}}</h5>
                    {% for photo in list.photo_set.all %}
                        <img src="{{photo.image.url}}" height="200" width="400"><br>
                    {% endfor %}
                    <p style="max-width: 800px;">{{list.body}}</p>
                    <a href="{{ list.pk }}/">read more</a>
                </div>
            </div>
        </div>
    {% endfor %}
    <button class="btn" id="newBtn" title="creat new one" onclick="location.href='../new_memo/'"><i class="fas fa-pen"></i></button>
    
{% endblock %}